
<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="Mrphs-html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Head material from Tool in PDA mode (will include title and headscripts) -->

<meta charset="UTF-8">

<!-- Style -->
<link href="https://xlms.myworkspace.vn/portal/site/331180a0-0361-48d4-bc82-d120869731f9/tool/ec30a288-c102-4d00-8f67-798e4d29f47d/resources/css/mystyle.css" rel="stylesheet" type="text/css"
	media="all">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/tables/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/tables/extensions/autoFill.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/tables/extensions/colReorder.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/tables/datatable/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/tables/datatable/select.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/extensions/offline/themes/offline-theme-slide.css">
<link rel="stylesheet" type="text/css"
	href="https://mksol.vn/themes/robust-admin/app-assets/vendors/css/extensions/offline/themes/offline-language-english.css">
<!-- For Sakai only -->
<script type="text/javascript" src="https://xlms.myworkspace.vnhttps://xlms.myworkspace.vn/library/js/headscripts.js"></script>

<!-- End of Head material from Tool -->
<title>xLMS : English : TOEIC</title>
<!--[if (lt IE 9)]>
  <link href="https://xlms.myworkspace.vn/library/skin/morpheus-default/tool-ie.css?version=51361631" rel="stylesheet">
<![endif]-->
<link href="https://xlms.myworkspace.vn/library/skin/morpheus-default/tool.css?version=51361631"
	rel="stylesheet" media="screen, tty, tv, handheld, projection">
<link href="https://xlms.myworkspace.vn/library/skin/morpheus-default/print.css?version=51361631"
	rel="stylesheet" media="print">
<link
	href="https://xlms.myworkspace.vn/library/skin/morpheus-default/addon-apps.css?version=51361631"
	rel="stylesheet" type="text/css">
<link
	href="https://xlms.myworkspace.vn/library/webjars/jquery-ui/1.12.1/jquery-ui.min.css?version=51361631"
	rel="stylesheet" />
<link
	href="https://xlms.myworkspace.vn/library/js/jquery/cluetip/1.2.10/css/jquery.cluetip.css?version=51361631"
	rel="stylesheet">
<link
	href="https://xlms.myworkspace.vn/library/webjars/qtip2/3.0.3/jquery.qtip.min.css?version=51361631"
	rel="stylesheet">
<link href="https://xlms.myworkspace.vn/library/webjars/pnotify/3.2.1/pnotify.css?version=51361631"
	rel="stylesheet">
<link
	href="https://xlms.myworkspace.vn/library/webjars/pnotify/3.2.1/pnotify.buttons.css?version=51361631"
	rel="stylesheet">
<link
	href="https://xlms.myworkspace.vn/library/webjars/cropper/4.0.0/dist/cropper.min.css?version=51361631"
	rel="stylesheet">
<link
	href="https://xlms.myworkspace.vn/library/webjars/fontawesome/4.7.0/css/font-awesome.min.css?version=51361631"
	rel="stylesheet">
<script
	src="https://xlms.myworkspace.vn/library/skin/morpheus-default/js/lib/modernizr.js?version=51361631"></script>
<script
	src="/webcomponents/assets/@webcomponents/webcomponentsjs/webcomponents-loader.js?version=51361631"></script>
<script
	src="https://xlms.myworkspace.vn/library/webjars/momentjs/2.24.0/min/moment-with-locales.min.js?version=51361631"></script>
<script src="/profile2-tool/javascript/profile2-eb.js?version=51361631"></script>

<!-- inlined tool header contribution -->

<!-- end inlined tool header contribution -->
</head>



<div class="Mrphs-pagebody">


	<nav class="Mrphs-siteHierarchy">
		<div class="Mrphs-hierarchy--sites">


			<span class="Mrphs-hierarchy--siteName" title="English"> <a
				href="http://xlms.myworkspace.vn/portal/site/331180a0-0361-48d4-bc82-d120869731f9/page-reset/e61c380b-e068-4ed9-b966-cc9fbf92c447">
					<span class="Mrphs-hierarchy--siteName-label"> English </span>
			</a>
			</span> <span
				class="Mrphs-hierarchy--siteNameSeparator Mrphs-hierarchy--separator"><i
				class="fa fa-lg fa-angle-right" aria-hidden="true"></i></span>
		</div>


		<a
			href="http://xlms.myworkspace.vn/portal/site/331180a0-0361-48d4-bc82-d120869731f9/tool-reset/ec30a288-c102-4d00-8f67-798e4d29f47d"
			title="Tool Home"
			class="Mrphs-hierarchy-item Mrphs-hierarchy--toolName"> <span
			class="Mrphs-breadcrumb--reset-icon fa fa-share" aria-hidden="true"></span>
			<span class="Mrphs-breadcrumb--icon icon-sakai--sakai-toeic "></span>
			<span class="Mrphs-breadcrumb--toolNameText">xTOEIC</span>
		</a>

	</nav>






	<!-- START VM includePageBody.vm -->

	<h1 class="skip" tabindex="-1" id="tocontent">Content begins here</h1>


	<main id="content" class="Mrphs-mainContent " role="main">

		<div id="col1" class="Mrphs-pageColumns Mrphs-pageColumns--single">




			<!-- start Tool Container -->


			<div class="Mrphs-container Mrphs-sakai-toeic">

				<!-- start Tool Header -->




				<nav class="Mrphs-toolTitleNav Mrphs-container--toolTitleNav">



					<h2 class="Mrphs-toolTitleNav__title">
						<a
							href="http://xlms.myworkspace.vn/portal/site/331180a0-0361-48d4-bc82-d120869731f9/tool-reset/ec30a288-c102-4d00-8f67-798e4d29f47d"
							title="Tool Home: TOEIC"> <span
							class="Mrphs-toolTitleNav__link Mrphs-toolTitleNav__link--reset"></span>
							<span class="Mrphs-toolTitleNav__text">xTOEIC</span>
						</a> <span class="Mrphs-toolTitleNav__addLeft"></span>
					</h2>



					<div class="Mrphs-toolTitleNav__button_container ">



						<span class="Mrphs-toolTitleNav__addRight"></span>

						<button
							class="Mrphs-toolTitleNav__link Mrphs-toolTitleNav__link--directurl"
							rel="#Mainec30a288xc102x4d00x8f67x798e4d29f47d_directurl"
							title="Direct link to this tool" aria-haspopup="dialog">
							<span class="Mrphs-itemTitle">Link</span>
						</button>
						<div id="Mainec30a288xc102x4d00x8f67x798e4d29f47d_directurl"
							role="dialog"
							aria-labelledby="Mainec30a288xc102x4d00x8f67x798e4d29f47d_directurl__title"
							class="Mrphs-directUrl Mrphs-directUrl__dropDown">
							<i class="fa fa-times dropDown_close" aria-hidden="true"
								tabindex="0"></i> <label
								for="Mainec30a288xc102x4d00x8f67x798e4d29f47d_urlholder"
								id="Mainec30a288xc102x4d00x8f67x798e4d29f47d_directurl__title"
								class="dropDown_title">Direct link to this tool</label> <input
								tabindex="0" type="checkbox" id="directToolUrl-1"
								onclick="toggleShortUrlOutput('http://xlms.myworkspace.vn/portal/directtool/ec30a288-c102-4d00-8f67-798e4d29f47d/', this, 'Mainec30a288xc102x4d00x8f67x798e4d29f47d_urlholder');"
								class="Mrphs-directUrl__checkbox"><label
								for="directToolUrl-1">Short URL</label>


							<textarea
								name="Mainec30a288xc102x4d00x8f67x798e4d29f47d_urlholder"
								id="Mainec30a288xc102x4d00x8f67x798e4d29f47d_urlholder"
								tabindex="0"
								class="Mrphs-directUrl__textarea Mainec30a288xc102x4d00x8f67x798e4d29f47d_urlholder">http://xlms.myworkspace.vn/portal/directtool/ec30a288-c102-4d00-8f67-798e4d29f47d/</textarea>
						</div>




						<a
							class="Mrphs-toolTitleNav__link Mrphs-toolTitleNav__link--help-popup"
							href="http://xlms.myworkspace.vn/portal/help/main?help=sakai.toeic"
							title="Help for TOEIC" target="_blank"
							onclick="openWindow('http://xlms.myworkspace.vn/portal/help/main?help=sakai.toeic', 'Help', 'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=1024,height=768'); return false">
							<span class="Mrphs-itemTitle">Help</span> <span class="skip">Opens
								in a new window</span>
						</a>



					</div>

				</nav>


				<!-- END Tool Header -->

				<!-- START Tool Body -->


				<!-- Buffered Body Tool Content -->

				<div class="modal fade" id="dlgCam" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<h4 id="confirmModalTitle"></h4>
							</div>
							<div class="modal-body">
								<div style="margin-bottom: 10px;">
									<label for="videoSource">Video source: </label><select
										id="videoSource" style="margin-left: 5px;"></select>
								</div>
								<div class="text-center" style="position: relative;">
									<video muted="" autoplay="" id="screenshot"></video>
									<br> <i id="screenshot-button" class="fa fa-camera"
										style="position: relative; font-size: 50px; cursor: pointer; bottom: 70px;"></i>
								</div>
								<div id="images" style="display: inline;">
									<!--                     <img src="" class="thumb" style="width: 150px" alt="Person"> -->
								</div>
								<canvas style="display: none;"></canvas>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success"
									data-dismiss="modal" id="createStaff" disabled>Submit</button>
							</div>
						</div>

					</div>
				</div>

				<div class="container home">
					<div class="row justify-content-between">
						<div class="col-md-6">
							<h3>List Assessment</h3>
							<p>Chose a Assessment to test Toeic:</p>
						</div>
						<div class="col-md-6" style="text-align: right;">
							<button class="btn btn-info" onclick="showCameraModal()">Add
								Picture</button>

						</div>
					</div>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Title</th>
								<th>Time Limit</th>
								<th>Due Date/Time</th>
								<th>Your Results</th>

							</tr>
						</thead>
						<tbody>

							<tr>
								<td><a
									href="/portal/site/331180a0-0361-48d4-bc82-d120869731f9/tool/ec30a288-c102-4d00-8f67-798e4d29f47d/test?&amp;idA=126">ETS
										2024 #1</a></td>
								<td><b></b></td>
								<td><span></span></td>
								<td><a href="#showResult" id="126">Show</a></td>

							</tr>
							<tr>
								<td><a
									href="/portal/site/331180a0-0361-48d4-bc82-d120869731f9/tool/ec30a288-c102-4d00-8f67-798e4d29f47d/test?&amp;idA=127">ETS
										2024 #2</a></td>
								<td><b></b></td>
								<td><span></span></td>
								<td><a href="#showResult" id="127">Show</a></td>

							</tr>
							<tr>
								<td><a
									href="/portal/site/331180a0-0361-48d4-bc82-d120869731f9/tool/ec30a288-c102-4d00-8f67-798e4d29f47d/test?&amp;idA=128">ETS
										2024 #3</a></td>
								<td><b></b></td>
								<td><span></span></td>
								<td><a href="#showResult" id="128">Show</a></td>

							</tr>
							<tr>
								<td><a
									href="/portal/site/331180a0-0361-48d4-bc82-d120869731f9/tool/ec30a288-c102-4d00-8f67-798e4d29f47d/test?&amp;idA=131">ETS
										2024 #4</a></td>
								<td><b></b></td>
								<td><span></span></td>
								<td><a href="#showResult" id="131">Show</a></td>

							</tr>
							<tr>
								<td><a
									href="/portal/site/331180a0-0361-48d4-bc82-d120869731f9/tool/ec30a288-c102-4d00-8f67-798e4d29f47d/test?&amp;idA=133">ETS
										2024 #5</a></td>
								<td><b>2:00 hr</b></td>
								<td><span></span></td>
								<td><a href="#showResult" id="133">Show</a></td>

							</tr>

						</tbody>
					</table>

					<div style="width: 100%;"
						class="modal fade bd-search-product-modal-lg"
						id="dlgAssessmentGrading" tabindex="-1" role="dialog"
						aria-labelledby="selectSearchProductModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close"
										style="color: black !important; opacity: 1 !important;"
										data-dismiss="modal">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Result</h4>
								</div>
								<div class="modal-body">
									<table id="resultTable"
										class="table table-striped table-bordered">
										<thead>
											<tr>
												<!--                                 <th>User</th> -->
												<th>Attempt Date</th>
												<th>Submitted Date</th>
												<th>Final Score</th>
												<th>Details</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div style="width: 100%;"
						class="modal fade bd-search-product-modal-lg" id="dlgItemGrading"
						tabindex="-1" role="dialog"
						aria-labelledby="selectSearchProductModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close"
										style="color: black !important; opacity: 1 !important;"
										data-dismiss="modal">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Result Details</h4>
								</div>
								<div class="modal-body">
									<table id="itemTable"
										class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Part</th>
												<th>Question</th>
												<!--                                 <th>Answer Text</th> -->
												<th>Answer</th>
												<th>User's Answer</th>
												<th>Correct</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="version" style="font-size: 10px;">
					<p>Version: 2.0-RC1</p>
				</div>

				<script src="https://xlms.myworkspace.vn/library/webjars/jquery/3.4.1/dist/jquery.min.js"></script>
				<script src="https://xlms.myworkspace.vn/library/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
				<script type="text/javascript"
					src="https://mksol.vn/themes/robust-admin/app-assets/js/scripts/extensions/block-ui.js"></script>
				<script type="text/javascript"
					src="https://mksol.vn/themes/robust-admin/app-assets/vendors/js/ui/jquery.sticky.js"></script>
				<script type="text/javascript"
					src="https://mksol.vn/themes/robust-admin/app-assets/vendors/js/extensions/offline.min.js"></script>
				<script type="text/javascript"
					src="https://mksol.vn/themes/robust-admin/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
				<script type="text/javascript"
					src="https://mksol.vn/themes/robust-admin/app-assets/vendors/js/tables/jquery.dataTables.min.js"></script>
				<script type="text/javascript"
					src="https://mksol.vn/themes/robust-admin/app-assets/vendors/js/tables/datatable/dataTables.autoFill.min.js"></script>
				<script type="text/javascript"
					src="https://mksol.vn/themes/robust-admin/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
				<script type="text/javascript"
					src="https://mksol.vn/themes/robust-admin/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>
				<script type="text/javascript" src="resources/js/home.js"></script>

				<!-- End Buffered Body Tool Content -->


				<!-- end Tool Body -->

			</div>

			<!-- end Tool Container -->



		</div>


	</main>
	<!-- END of main.Mrphs-mainContent -->