<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="exam_submit_confirm" class="modal fade" id="dlgConfirm" role="dialog"
     style="display: none; padding-right: 17px;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="confirmModalTitle">Are you sure you still want to
                    submit?</h4>
            </div>
            <div class="modal-body">
                <p id="confirmTitle">You have 0 questions left unanswered</p>
                <p id="confirmBody"></p>
            </div>
            <div class="modal-footer">
                <button type="submit" name="submit"
                        class="btn btn-success" data-dismiss="modal" id="submitModalBtn">Submit
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal"
                        id="cancelModalBtn" th:onclick="closeSubmitConfirm()">Cancel
                </button>
            </div>
        </div>

    </div>
</div>
</body>
</html>